{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Все заявки</title>
</head>

<body>
    <div class="wrapper">
        <select class="js-choice" name="state">
            <option selected disabled></option>x
        </select>
        <p class="question">Вопрос клиента: </br></br> </p>
        <button class="answer">Выбрать</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'queries_script.js' %}"></script>
</body>

</html>